//GNOME Color Palette
$blue_1: #99c1f1;
$blue_2: #62a0ea;
$blue_3: #3584e4;
$blue_4: #1c71d8;
$blue_5: #1a5fb4;
$green_1: #8ff0a4;
$green_2: #57e389;
$green_3: #33d17a;
$green_4: #2ec27e;
$green_5: #26a269;
$yellow_1: #f9f06b;
$yellow_2: #f8e45c;
$yellow_3: #f6d32d;
$yellow_4: #f5c211;
$yellow_5: #e5a50a;
$orange_1: #ffbe6f;
$orange_2: #ffa348;
$orange_3: #ff7800;
$orange_4: #e66100;
$orange_5: #c64600;
$red_1: #f66151;
$red_2: #ed333b;
$red_3: #e01b24;
$red_4: #c01c28;
$red_5: #a51d2d;
$purple_1: #dc8add;
$purple_2: #c061cb;
$purple_3: #9141ac;
$purple_4: #813d9c;
$purple_5: #613583;
$brown_1: #cdab8f;
$brown_2: #b5835a;
$brown_3: #986a44;
$brown_4: #865e3c;
$brown_5: #63452c;
$light_1: #ffffff;
$light_2: #f6f5f4;
$light_3: #deddda;
$light_4: #c0bfbc;
$light_5: #9a9996;
$dark_1: #77767b;
$dark_2: #5e5c64;
$dark_3: #3d3846;
$dark_4: #241f31;
$dark_5: #000000;

$accent: if($variant == 'light', $blue_4, #78aeed);
$accent_bg: if($variant == 'light', $blue_3, $blue_3);

$window_bg: if($variant == 'light', #fafafa, #242424);
$window_fg: if($variant == 'light', rgba(0, 0, 0, 0.8) , #ffffff);
$view-bg: if($variant == 'light', #ffffff , #1e1e1e);

$headerbar_bg: if($variant == 'light', #ebebeb, #303030);
$headerbar_fg: $window_fg;
$headerbar_border: if($variant == 'light', rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.36));

$code_bg: if($variant == 'light',$light_2, $dark_5);
$code_fg: $window_fg;

$blue_up_aman9das: #8fd3f0;
$blue_down_aman9das: #29aae2;

